﻿@model api_proxy.Models.BrowseComic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{ var title = string.Format("{0}{1}"
                                 , Model.IsTodaysComic
                                     ? "Today's comic: "
                                     : string.Empty
                                 , Model.CurrentComic.Title);}
    <title>@title</title>
</head>
<body>
    <h1>XKCD</h1>

    <h2>@Model.CurrentComic.Title</h2>
    <div>
        <table>
            <thead>
                <tr>
                    @{
                        string previousLink = string.Format("comic/{0}", @Model.PreviousComic);
                        string nextLink = string.Format("comic/{0}", @Model.NextComic);

                        string previousStyle = string.Format("display: {0};"
                            , @Model.IsFirstComic
                                ? "none"
                                : "block");

                        string nextStyle = string.Format("display: {0};"
                            , @Model.IsTodaysComic
                                ? "none"
                                : "block");
                    }
                    <td style="width: 50%;">
                        @Html.ActionLink("Previous", "comic", new { id = Model.PreviousComic }, new { style = previousStyle })
                    </td>
                    <td style="width: 50%; text-align:right;">
                        @Html.ActionLink("Next", "comic", new { id = Model.NextComic }, new { style = nextStyle })
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="2" style="text-align:center;"><img src="@Model.CurrentComic.ImageUrl" /></td></tr>
                <tr><td colspan="2" style="text-align:center;">@Model.CurrentComic.AltText</td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>
